astor==0.8.1
blinker==1.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
Flask==3.0.3
graphviz==0.20.3
idna==3.7
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.0
parso==0.8.4
pudb==2024.1
py2cfg==0.7.3
Pygments==2.18.0
requests==2.32.2
typing_extensions==4.12.0
urllib3==2.2.1
urwid==2.6.12
urwid_readline==0.14
wcwidth==0.2.13
websocket-server==0.6.4
Werkzeug==3.0.3
